@import com.moviebooking.writeside.aggregates.Show
@import com.moviebooking.writeside.aggregates.Seat
@(show: Show, seatMap: Map[String, List[Seat]])(implicit assetsFinder: AssetsFinder)
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Movie Booking CQRS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href=@assetsFinder.path("stylesheets/carousel.css") rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <script src=@assetsFinder.path("javascripts/hello.js")
        ></script>
    </head>

    <body>
        <main role="main">
            <div class="header-container">
					<!-- Event name -->
					<span class="__event-name"> </span>
				<!-- Event details such as venue name and timing -->
					<span class="__event-details">
						<span id="strVenName">@show.showId.theatreName @show.showId.screenName @show.movieName</span>
					</span>

			</div>

            <div class="container">
                <div id="messagePanel" class="messagePanel">
                @for(key ← seatMap.keys.toList.sorted) {
                    <div class="row w-100">
                    <div class="seatNumber"> @key </div>
                    @for(seat <- seatMap(key)) {
                        @if(seat.isReserved) {
                            <div class='seat notAvailable' data-value="@(seat.seatNumber.row + "_" + seat.seatNumber.value)">@seat.seatNumber.value </div>

                        } else {
                                <div class='seat available' data-value="@(seat.seatNumber.row + "_" + seat.seatNumber.value)">@seat.seatNumber.value </div>

                        }
                    }
                    </div>
                }
                </div>

             <div class="w-100">
               <form id="ticket-form" class="hide" action="@routes.MovieController.confirmBooking()" method="POST">
                <div class="d-none">
                    <input name="showId" value="@show.showId.showKey()" class="hidden"/>
                    <input name="tickets" id="tickets" value="" class="hidden"/>
                </div>
                <div class="text-center mt-5 pr-5">
                    <button class="text-input-dialog" type="submit">Confirm Booking</button>
                 </div>
                </form>
            </div>
         </div>
        </main>
    </body>
</html>
