@import com.moviebooking.aggregates.MovieState
@(showMap: Map[String, Map[String, List[String]]], movie: MovieState)( implicit assetsFinder: AssetsFinder)
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">

        <title>Carousel Template for Bootstrap</title>

            <!-- Bootstrap core CSS -->
        <link href=@assetsFinder.path("stylesheets/bootstrap.min.css") rel="stylesheet">
        <link href=@assetsFinder.path("stylesheets/carousel.css") rel="stylesheet">
        <script src=@assetsFinder.path("javascripts/jquery-3.3.1.min.js")></script>
        <script src=@assetsFinder.path("javascripts/bootstrap.js")></script>
    </head>
    <body>
        <main role="main">
            <div class="container">
                <div id="movieDetails" >
                    <img src='assets/images/@movie.metadata("image")' alt="New York" class="w-100 h-25">
                </div>
                <div id="shows">
                    @*Map[String, Map[String, List[String]]]*@

                    @for(theatreScreensShows ← showMap) {
                        <div id="theatreshows" style="background-color: lightgray !important">

                            <h2>
                                <div id="theatre1" class="title">@theatreScreensShows._1</div>
                            </h2>


                            @for(screenShows ← theatreScreensShows._2) {
                                <h3>@screenShows._1</h3>
                                <h4>

                                @for(shows ← screenShows._2) {
                                        <span class="badge badge-light">
                                            <a href="/book-seats/@(screenShows._1 + "_" + shows + "_" + theatreScreensShows._1)">
                                            <span class="badge badge-pill badge-light">@shows</span>
                                            </a>
                                        </span>
                                }
                            </h4>

                            }
                        </div>
                    }
                </div>
            </div>
        </main>
    </body>
</html>