@import com.moviebooking.writeside.aggregates.MovieState
@(showMap: Map[String, Map[String, List[String]]], movie: MovieState)( implicit assetsFinder: AssetsFinder)
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">

        <title>Carousel Template for Bootstrap</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href=@assetsFinder.path("stylesheets/carousel.css") rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <main role="main">
            <div class="container">
                <div id="movieDetails" >
                    <h1 class="text-center">@movie.name</h1>
                    @*<iframe width="560" height="315" src="@movie.metadata("video")"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@
                    <img src="/assets/images/@movie.metadata("image")" class="w-100 h-25">
                </div>
            </div>
            <div class="container text-info">
                <p>@movie.synopsis</p>
            </div>
            <div class="container">
                <div id="shows" class="row">
                    @*Map[String, Map[String, List[String]]]*@

                    @for(theatreScreensShows ← showMap) {
                        <div id="theatreshows" class="col-6" style="background-color: lightgray !important">

                            <h2>
                                <div id="theatre1" class="dark title text-center">@theatreScreensShows._1</div>
                            </h2>

                            <div>
                            @for(screenShows ← theatreScreensShows._2) {
                                <h3 class="text-md-left">@screenShows._1</h3>
                                <h4>

                                @for(shows ← screenShows._2) {
                                        <span class="badge badge-light">
                                            <a href="/book-seats/@(screenShows._1 + "_" + shows + "_" + theatreScreensShows._1)">
                                            <span class="badge badge-pill badge-light">@shows</span>
                                            </a>
                                        </span>
                                }
                            </h4>

                            }
                            </div>
                        </div>
                    }

                </div>
            </div>
        </main>
    </body>
</html>